@font-face {
  font-family: RSU;
  src: url(font/Kanit-Light.ttf);
}

* {
  font-family: RSU;
}

.content-view {
  word-break: break-word;
  padding: 1% 5%;
  text-align: center;
}

.md-triple-line {
  word-wrap: break-word;
  margin: 1.5% 0 0 0;
  padding: 1% 0;
}

.md-th {
  background: #e5e7ea;
  color: #000;
}

.menu_link {
  cursor: pointer;
}

.menu_link:hover {
  background: #f5f5f0;
}

.menu {
  background: #fff;
}

#active {
  background: #f5f5f0;
}

#stLogin {
  text-align: left;
  width: 50%;
  margin-left: 25%;
}

#stLogin img {
  margin-left: 30%;
}

#stLogin input {
  font-size: 18px;
  margin-bottom: 2%;
}

#stLogin label {
  font-size: 20px;
}

.train table{
  width: 100%;
  /*border: 1px solid #000;*/
}
  .train thead, tbody, th, td {
   /* border: 1px solid #000;*/
  }
  .train tbody {
    text-align: left;
  }
  .train td {
    padding: 1%;

  }
  .train th {
    font-size: 16px;
    background: #d3d3c4;
    padding: 1%;
  }

@media (min-width: 200px) and (max-width: 1024px) {
  #stLogin {
    width: 100%;
    margin-left: 0;
  }
  #stLogin img {
    margin-left: 40%;
  }
  #stLogin input {
    font-size: 30px;
  }
  #stLogin label {
    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  #stLogin>.ui>.buttons>.massive {
    font-size: 50px;
  }
}
